@{
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-controller="offerController">
    <h2>Special Offers:</h2>
    <table class="table table-condensed table-striped table-bordered table-hover">
        <tr ng-repeat="offer in offers">
            <td><span>{{getOfferText($index)}}</span></td>
        </tr>
    </table>

</div>

<div ng-controller="cartController">
    <h2>Cart:</h2>

    <table class="table table-condensed table-striped table-bordered table-hover" >
        <thead>
            <th>Id</th>
            <th>SKU</th>
            <th>Item Price</th>
            <th>Quantity</th>
            <th>Line Item Total</th>
        </thead>
        <tbody>
            <tr ng-repeat="inv in inventoryContents">
                <td><span>{{inv.Id}}</span></td>
                <td><span>{{inv.SKU}}</span></td>
                <td><span>{{inv.Price | currency}}</span></td>
                <td><span>{{inv.Quantity}}</span></td>
                <td><span>{{inv.LineItemTotal | currency}}</span></td>
            </tr>
        </tbody>
    </table>

</div>

<div ng-controller="inventoryController">
    <h2>Inventory:</h2>

    <table  class="table table-condensed table-striped table-bordered table-hover">
        <tr ng-repeat="inv in inventoryContents">
            <td><span>{{inv.Id}}</span></td>
            <td><span>{{inv.SKU}}</span></td>
            <td><span>{{inv.Price | currency}}</span></td>
            <td><a ng-click="addToCart($index)"  href="#" class="btn btn-primary" role="button">Add To Cart</a></td>
        </tr>
    </table>

</div>


   




@section PageScripts
{
<script src="~/js/CheckoutKata.js"></script>
}
